<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>API Status Checker</title>
  </head>
  <body>
    <h1>API Status Checker</h1>
    <p>Code: {{ code }} </p>
    <p>Status: <span id="status"></span></p>
    <button style="display: none;" id="readyButton" onclick='location.href="http://localhost:8000/{{ code }}"''> hi </button>
    <script>

      // Set the API endpoint URL
      const apiUrl = 'http://localhost:8000/get-video-status/{{ code }}';

      // Get the status element
      const statusEl = document.getElementById('status');
      const readyButton = document.getElementById('readyButton');


      // Define a function to fetch the API status and update the UI
      function updateStatus() {
        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            // Check the status and update the UI
            if (data == 0) {
              statusEl.textContent = '0 (Video is stored)';
              console.log(readyButton)
              readyButton.style.display = 'block';
            } else if (data == 1) {
              statusEl.textContent = '1 (Video has never existed)';
            } else if (data == 2) {
              statusEl.textContent = '2 (Video in processing)';
            } else {
              statusEl.textContent = 'Unknown';
            }
          })
          .catch(error => {
            console.error(error);
            statusEl.textContent = 'Error';
          });
      }

      // Call the updateStatus function every 5 seconds
      setInterval(updateStatus, 5000);
    </script>
  </body>
</html>